.img1{
    margin: 20px 50px;
}

header{
    height: 80px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 50px;
}
.right li{
    margin-right: 30px;
}

/* 住所・番号・Eメール ボタン  */
h1{
    margin-top: 50px;
    text-align: center;
    font-size: 150px;
    font-weight: 800;
    color: rgb(53, 112, 163);
    font-family: 'Racing Sans One', cursive;
    
}

#button{
    text-align: center;
    margin-bottom: 80px;
}

.add_btn{
    font-size: 40px;
    padding: 10px 15px;
    margin: 10px ;
    color:whitesmoke;
    background-color: gray;
    border: 2px solid;
    border-radius: 80px;
}

.num_btn,.email_btn{
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    color:whitesmoke;
    background-color: gray;
    border: 2px solid;
    border-radius: 80px;
}

.info_text{
    transition: opacity .5s ease;
    /* display: none; */
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 ;
    font-size: 20px;
    font-weight: 700;
}

.add.hide,
.num.hide,
.email.hide{
    opacity: 0;
    /* display: block; */
}

/* slider */
#slider_contener {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.arrow_right {
    font-size: 40px;
    color: blue;
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 80%;
}

.arrow_left {
    font-size: 40px;
    color: blue;
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 5%;
}

.slider_warp {
    /* border: solid 1px black; */
    display: flex;
    width: 100%;
    aspect-ratio: 8/6;
    overflow: hidden;
}

 .slider_warp img {
     height: auto;
     width: 100%;
} 

.slider_warp li{
    min-width: 100%;
}

/* メンバー紹介 */
.toggle_menu dt{
    margin: 0 150px;
    padding: 10px 15px;
    text-align: center;
    font-size:40px;
    font-weight: 700;
    line-height: 60px;
    color: white;
    background-color: rgb(206, 174, 127);
    cursor: default;
    /* border-radius: 20px; */
}

.toggle_menu > dd{
    font-size: 19px;
    font-weight: 650;
    padding: 10px 60px;
    display: none;
    margin: 0 150px ;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid gray;
    cursor: default;
    border-radius: 10px;
    
}

.toggle_menu dd + dd{
    border-top: none;
}


/* chang_tab */
h3{
    margin: 100px 150px 20px;
    padding: 10px 15px;
    text-align: center;
    font-size:35px;
    font-weight: 700;
    line-height: 60px;
    color: white;
    background-color: rgb(206, 174, 127);
    cursor: default;
}

.coment{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.tab_container{
    display: flex;
    margin: 10px 150px 0px;
    padding: 10px;
    justify-content: center;
    font-size:20px;
    font-weight: 700;
    line-height: 60px;
}

.tab_container li{
    width: 200px;
    text-align: center;
    margin: 0 5px;
    color: rgb(49, 60, 61);
    background-color: rgb(0, 165, 210);
    border: solid 1px black;
    cursor: default;
}

.tab-list li:hover{
    opacity: 0.7;
    cursor: default;
}

.box{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.box::after{
    
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{
    width: 100vw;
    height: 60vh;
    position: relative;
}

.container img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
}

.current{
    z-index: 1;
    opacity: 1;
}
  


/* Q＆A */
.qa_text{
    padding: 10px 40px 60px;
}

.question,.answer{
    font-size: 20px;
    font-weight: 40px;
    text-align: center;
    padding: 20px ;
    margin: 5px 150px;
    color: aliceblue;
    background-color: rgb(48, 134, 90);
    border: 1px solid;
    border-radius: 20px;
}

.question{
    position: relative;
    cursor: default;
}

.question::after,.question::before{
    content: '';
    display: block;
    background-color: white;
    position: absolute;
}

.question::after{
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
  }
  

.question::before{
    width: 2px;
    height: 20px;
    right: 19px;
    top: 36%;
  }

.question.on::before{
    display: none;
  }

.answer{
    display: none;
    background-color: rgb(183, 181, 87);
}

/* 入会希望 */
h2{    
    margin: 20px 150px;
    padding: 10px 15px;
    text-align: center;
    font-size:35px;
    font-weight: 700;
    line-height: 60px;
    color: white;
    background-color: rgb(206, 174, 127);
    cursor: default;

}
#inquiry{
    width: 100vw;
    /* height: 100vh; */
    color: rgb(113, 113, 113);
    text-align: center;
}

#inquiry input{
    border: solid 1px black;
    width: 50vw;
    height: 5vh;
    margin: 15px auto;
}

textarea{
    width: 50vw;
    color: rgb(113, 113, 113);
    margin-top: 10px;
    border: solid 1px black;
}


.buttom input{
    width: 15vw;
    height: 8vh;
    background-color: orange;
    border: solid 1px black;
    color: black;
    font-size: 20px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttom input:hover{
    cursor: pointer;
    background-color: transparent;
}

/* TOPへ戻る ボタン */
.goto_top{
    text-align: right;
    margin: 150px 50px 60px;
}
.goto_top_btn{
    padding: 20px;
    color: whitesmoke;
    background-color: rgb(65, 225, 206);
    cursor: default;
    border-radius: 40px;
}

/* spanタグ */
footer{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
    color: rgb(20, 68, 63);
    /* border: 1px solid; */
}
